
.carousel-inner  {
  width: 100%;
  height: 70%;
}



.cimg {
  width: 100%;
  height: 450px;
  object-fit: fill;
}

.error-message {
  color: #dc3545;
  font-size: 12px;
}
.bannerw3l-hnyv
{
  margin-top: 100px;
}
.doctors{
  max-width: 100%;
  height: auto;
}

#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #DAA520 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}